body {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    line-height: 1;
}

div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
}

img {
    vertical-align: bottom;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
    display: block;
}

iframe {
    max-width: 100% !important;
}

img,
embed,
object,
video {
    max-width: 100%;
}

a, label {
    cursor: pointer;
}

blockquote {
    padding: 0;
    margin: 0;
    display: block;
}

address, em {
    font-style: normal;
}

hr {
    border: 0;
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}

textarea {
    resize: vertical;
    overflow: hidden;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
}

input, button, select {
    vertical-align: middle;
    border-radius: 0;
    box-sizing: border-box;
    border: 0;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
    white-space: normal;
    outline: 0;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: .01px;
    text-overflow: "";
}

select::-ms-expand {
    display: none;
}

table {
    border-collapse: collapse;
}

*:before, *:after {
    padding: 0;
    margin: 0;
    line-height: 1;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

br {
    font-size: 0;
}

::selection {
    background: var(--color-navy);
    color:#FFFFFF;
}

input::selection, textarea::selection {
    color: #DDDDDD;
}

html {
    font-size: 62.5%;
    min-height: 100%;
    padding: 0;
    scroll-behavior:smooth;

    /* レスポンシブフォント */
    // 画面サイズに合わせてフォントサイズを変更する場合は以下のコメントアウトを解除してください
    /*
    @media screen and (min-width: 1023px) {
        font-size: .8vw;
    }

    @media screen and (min-width: 1281px) {
        font-size: .8vw;
    }

    @media screen and (min-width: 1401px) {
        font-size: .7vw;
    }

    @media screen and (min-width: 2001px) {
        font-size: 87.5%;
    }

    @include tab{
        font-size: 62.5%;
    }

    @include spl{
        font-size: 62.5%;
    }
    */
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    font-smooth: antialiased;
    line-height: 2;
    font-family: var(--font-main);
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    font-size: 1.4rem;
    color: var(--color-txt);
    background-color: #FFF;
    
    &.is-fixed{
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        left:0;
    }
}

h1,h2,h3,h4,h5,h6{
    font-size: 1.4rem;
}

input,
button,
select,
textarea {
    font-family:var(--font-main);
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus,
div:focus,
aside:focus {
    outline: none
}

a {
    color: #000;
    text-decoration: underline;
}

a.is-hover{
    text-decoration: none; 
}

br.is-pcbr{
    display: block;
}

br.is-spbr{
    display: none;
}

br.is-tabbr{
    display: none;
    }

br.is-spsbr{
    display: none;
}

@media screen and (max-width: 1023px){
    br.is-pcbr{
        display: none;
    }
}

@include tab{
    br.is-tabbr{
        display: block;
    }
}

@include spl{
    br.is-spbr{
        display: block;
    }
}

@media screen and (max-width: 370px){
    br.is-spsbr {
        display: block;
    }
}
