/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./src/scss/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*レスポンシブ用*/
:root {
  --container-width: 110.0rem;
  --side-margin: 2.4rem;
}
@media only screen and (max-width: 767px) {
  :root {
    --side-margin: 1.6rem;
  }
}

:root {
  --color-main: #17339C;
  --color-txt: #000;
  --color-white: #ffffff;
  --color-blue: #1877f2;
  --color-paleblue: #ccdcfe;
  --color-lightblue: #2ea7e0;
  --color-yellow: #ffdc26;
  --color-navy: #213378;
  --color-thinblue: #E8F8FF;
  --color-gray: #EEE;
}

:root {
  --font-main: "Noto Sans JP", sans-serif;
  --font-en: "Roboto", sans-serif;
  --font-point: "Noto Sans JP", sans-serif;
  --font-point02: "Noto Sans JP", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

:root {
  --default-margin: 1.6rem;
  --margin-xs: calc(var(--default-margin) / 4);
  --margin-s: calc(var(--default-margin) / 2);
  --margin-m: var(--default-margin);
  --margin-l: calc(var(--default-margin) * 1.5);
  --margin-2l: calc(var(--default-margin) * 2);
  --margin-3l: calc(var(--default-margin) * 3);
  --margin-4l: calc(var(--default-margin) * 4);
  --margin-5l: calc(var(--default-margin) * 5);
  --margin-6l: calc(var(--default-margin) * 6);
}

/*-----------------------------------------
mixins
-----------------------------------------*/
