@use "../../foundations/var" as *;

.u-p__xs{
    padding: var(--margin-xs);
}

.u-p__s{
    padding: var(--margin-s);
}

.u-p__m{
    padding: var(--margin-m);
}

.u-p__l{
    padding: var(--margin-l);
}

.u-p__2l{
    padding: var(--margin-2l);
}

.u-p__3l{
    padding: var(--margin-3l);
}

.u-p__4l{
    padding: var(--margin-4l);
}

.u-p__5l{
    padding: var(--margin-5l);
}

// margin top

.u-pt__xs{
    padding-top: var(--margin-xs);
}

.u-pt__s{
    padding-top: var(--margin-s);
}

.u-pt__m{
    padding-top: var(--margin-m);
}

.u-pt__l{
    padding-top: var(--margin-l);
}

.u-pt__2l{
    padding-top: var(--margin-2l);
}

.u-pt__3l{
    padding-top: var(--margin-3l);
}

.u-pt__4l{
    padding-top: var(--margin-4l);
}

.u-pt__5l{
    padding-top: var(--margin-5l);
}

// padding bottom
.u-pb__xs{
    padding-bottom: var(--margin-xs);
}

.u-pb__s{
    padding-bottom: var(--margin-s);
}

.u-pb__m{
    padding-bottom: var(--margin-m);
}

.u-pb__l{
    padding-bottom: var(--margin-l);
}

.u-pb__2l{
    padding-bottom: var(--margin-2l);
}

.u-pb__3l{
    padding-bottom: var(--margin-3l);
}

.u-pb__4l{
    padding-bottom: var(--margin-4l);
}

.u-pb__5l{
    padding-bottom: var(--margin-5l);
}